@model IEnumerable<LMS_Project.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<form style="text-align:center;margin:4%">
<input type="text" name="searchstring" placeholder="Search Here" style="width:65%;"/>
<input type="submit" value="Search" />
</form>

<div class="container mt-4" style="text-align:center;">
    <div class="row" style="margin-left:5%;">
        @foreach(var item in Model)
        {   
            <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="250" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.BookTitle)</h5>
                    <p class="card-text">Available Quantity: @Html.DisplayFor(modelItem => item.NoOfCopies)</p>
                    <p class="card-text">Author: @Html.DisplayFor(modelItem => item.Author.AuthorName)</p>
                    <p class="card-text">Category: @Html.DisplayFor(modelItem => item.Category)</p>
                    <form asp-controller="LendRequests" asp-action="RequestToLend" asp-route-bookId=@item.BookId>
                         <input class="btn btn-secondary" type="submit" id="requestbutton" value="Request to Borrow"/>
                    </form>
                   
                </div>
            </div>
        </div>        
        }
    </div>
</div>
