@model IEnumerable<LMS_Project.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Lended Books list</h1>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LendId)</th>
        <th>@Html.DisplayNameFor(model => model.Book)</th>
        <th>@Html.DisplayNameFor(model => model.LendDate)</th>
        <th>@Html.DisplayNameFor(model => model.ReturnDate)</th>
        <th>@Html.DisplayNameFor(model => model.FineAmount)</th>
        <th>@Html.DisplayNameFor(model => model.LendStatus)</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LendId)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.BookTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.LendDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReturnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.FineAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.LendStatus)</td>
                
            </tr>
        }
    </tbody>
</table>

