@model IEnumerable<LMS_Project.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin's Requested Book list</h1>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LendId)</th>
        <th>@Html.DisplayNameFor(model => model.User)</th>
        <th>@Html.DisplayNameFor(model => model.Book)</th>
        <th>@Html.DisplayNameFor(model => model.LendStatus)</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LendId)</td>
                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.BookTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.LendStatus)</td>
                <td>
                    <form asp-route-lendId="@item.LendId" asp-action="ApproveBook" asp-controller="LendRequests">
                <input style="padding:2px" type="submit"   value="Approve"/>
                </form>    

                                    <form asp-route-lendId="@item.LendId" asp-action="RejectBook" asp-controller="LendRequests">
                <input style="padding:2px" type="submit"   value="Reject"/>
                </form>    
            </td>
            </tr>
        }
    </tbody>
</table>

