@model IEnumerable<LMS_Project.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .adminhead{
        text-align: center;
        margin-bottom: 1%;
    }
</style>
<div class="adminhead">
<h1>Admin's Requested Book list</h1>
<img width="10%" height="10%" src="~/Images/imgs/books.png"/>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Lend ID</th>
        <th>User Name</th>
        <th>Book Name</th>
        <th>Lend Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LendId)</td>
                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.BookTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.LendStatus)</td>
                <td>
                    <form style="float:left;" asp-route-lendId="@item.LendId" asp-action="ApproveBook" asp-controller="LendRequests">
                        <input class="btn btn-success"  style="padding:2px" type="submit"  value="Approve"/>
                    </form>    
                    <form style="float:left;" asp-route-lendId="@item.LendId" asp-action="RejectBook" asp-controller="LendRequests">
                        <input class="btn btn-danger" style="padding:2px;margin-left:20%" type="submit"   value="Reject"/>
                    </form>    
            </td>
            </tr>
        }
    </tbody>
</table>

