@model IEnumerable<LMS_Project.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Your Issued Books</h1>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LendId)</th>
        <th>Book Name</th>
        <th>@Html.DisplayNameFor(model => model.LendDate)</th>
        <th>Due Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LendId)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.BookTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.LendDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReturnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.LendStatus)</td>
            </tr>
        }
    </tbody>
</table>

