@model IEnumerable<LMS_Project.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .adminhead{
        text-align: center;
        margin-bottom: 1%;
    }
</style>
<div class="adminhead">
<h1>Lended Book's list</h1>
<img width="10%" height="10%" src="~/Images/imgs/books.png"/>
</div>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LendId)</th>
        <th>@Html.DisplayNameFor(model => model.User)</th>
        <th>@Html.DisplayNameFor(model => model.Book)</th>
        <th>@Html.DisplayNameFor(model => model.LendDate)</th>
        <th>@Html.DisplayNameFor(model => model.ReturnDate)</th>
        <th>@Html.DisplayNameFor(model => model.LendStatus)</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LendId)</td>
                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.BookTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.LendDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReturnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.LendStatus)</td>
                
            </tr>
        }
    </tbody>
</table>

