@model IEnumerable<LMS_Project.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .adminhead{
        text-align: center;
        margin-bottom: 1%;
    }
</style>
<div class="adminhead">
<h1>Your All Books</h1>
<img width="10%" height="10%" src="~/Images/imgs/books.png"/>
</div>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.LendId)</th>
        <th>Book Name</th>
        <th>Fine Amount</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LendId)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.BookTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.FineAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.LendStatus)</td>
            </tr>
        }
    </tbody>
</table>

